# Build and Release Folders
bin-debug/
bin-release/
bin/
exam/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
.svn
.gitignore
.flexLibProperties

